@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Email Address.</h1>
<h2 class="text-danger">While processing you request, the email address has been taken by another use account.</h2>

