@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Unique Field.</h1>
<h2 class="text-danger">The record you are attempting to write back to the system has a field that must be unique and that value is already assigned to another record in the system.</h2>

