@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Concurrency.</h1>
<h2 class="text-danger">Between reading the record and attempting to write back, the record has been updated by another user. You will need to reload and process your changes again.</h2>

