@model Fido.Action.Models.Administration.User

@{
    ViewBag.Title = "Create User";
}

@using (Html.BeginForm("Create", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="well">
        @Html.Partial("UserForm", Model)
    </div>    
}
