@* http://www.codeproject.com/Articles/155422/jQuery-DataTables-and-ASP-NET-MVC-Integration-Part *@
@model Fido.Action.Models.UsersModel

@{
    ViewBag.Title = "Users";
}

@Html.ActionLink("NEW", "Create", "User")  @*TEMP*@ 

<table id="IndexTable" width="100%" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
    <thead>
        <tr>
            <th></th>
            <th>Firstname</th>
            <th>Surname</th>
            <th>Email Address</th>
            <th>Local</th>
            <th>External</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<span class="skd-spacing-large"></span>

<script type="text/javascript">
    var EditLink = '@(Html.ActionLink("Edit", "Update", "User", new { Id = -999 }, null))';
    var DeleteLink = '@(Html.ActionLink("Delete", "Delete", "User", new { Id = -999 }, new { @class = "modal-link" }))';
    var AjaxPath = '@(Url.Action("IndexRead", "User"))';

    $(document).ready(function () {

        $('#IndexTable').dataTable({
            "bServerSide": true,
            "sAjaxSource": AjaxPath,
            "bProcessing": true,
            "aoColumns": [
                            {
                                "sName": "Id",
                                "bSearchable": false,
                                "bSortable": false,
                                "mRender": function (value) {
                                    return EditLink.replace("-999", value) + ' | ' + DeleteLink.replace("-999", value);
                                }
                            },
                            { "sName": "Firstname" },
                            { "sName": "Surname" },
                            {
                                "sName": "Email Address",
                                /*     "mRender": function (value) {
                                           if (value !== null) { return value; }
                                           else { return ''; }
                                       } */
                            },
                            { "sName": "Local Credentials" },
                            { "sName": "External Credentials" }
            ]
        });
    });
</script>
