@model Fido.Action.Models.ExternalCredentialsVM

<div class="modal-body">

    <span class="skd-spacing-large"></span>
    <span class="skd-spacing-large"></span>

    <div class="row skd-row-sm-offset-1">
        <div class="col-sm-10">

            Use the below options to link your account to your existing social accounts.
            <span class="skd-spacing"></span>
            <span class="skd-spacing"></span>

            @* ******************************** *@
            @* *** list and options go here *** *@
            @* ******************************** *@

            <span class="skd-spacing-large"></span>
            @*<div class="col-xs-6 col-centered">
                <button type="submit" class="btn btn-success btn-circle btn-lg" name="Cmd" value="Save" id="approve-btn">
                    <span><i class="fa fa-check"></i></span>
                </button>
            </div>*@
            <div class="col-xs-12 col-centered">
                <a href="@Url.Action("Settings", "Account")">
                    <span class="btn btn-danger btn-circle btn-lg"><i class="fa fa-times"></i></span>
                </a>
            </div>
        </div>
    </div>

    <span class="skd-spacing-large"></span>
    <span class="skd-spacing-large"></span>

</div>
