@model Fido.Action.Models.SettingsModel

@{
    ViewBag.Title = "Account Settings";
}

<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a href="#tab1" data-toggle="tab"><i class="fa fa-home"></i> Local</a></li>
    <li><a href="#tab2" data-toggle="tab"><i class="fa fa-cloud"></i> External</a></li>
</ul>
<div class="row skd-spacing"></div>
<div id="my-tab-content" class="tab-content">
    <div class="tab-pane fade in active" id="tab1">
        @Html.Partial("SettingsLocal", Model)
    </div>
    <div class="tab-pane fade" id="tab2">
        @Html.Partial("SettingsExternal", Model)
    </div>
</div>
<div class="row skd-spacing"></div>
