@* http://www.codeproject.com/Articles/155422/jQuery-DataTables-and-ASP-NET-MVC-Integration-Part *@
@model Fido.Action.Models.Administration.Confirmations

@using Fido.WebUI.Controllers

@{
    ViewBag.Title = "Confirmations";
}

<table id="IndexTable" width="100%" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
    <thead>
        <tr>
            <th>Type</th>
            <th>Email Address</th>
            <th>Queued (UTC)</th>
            <th>Sent (UTC)</th>
            <th>Received (UTC)</th>
            <th>State</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<span class="skd-spacing-large"></span>

@section scripts
{
<script type="text/javascript">
    var DeleteLink = '@(Html.ActionLink("Delete", "Delete", "Confirmation", new { Id = -999 }, new { @class = "modal-link" }))';
    var AjaxPath = '@(Url.Action("IndexRead", "Confirmation"))';
    var UserId = '@(Model.Id.ToString())';

    $(document).ready(function () {
        $('#IndexTable').dataTable({
            "bServerSide": true,
            "sAjaxSource": AjaxPath,
            "fnServerParams": function ( aoData ) {
                aoData.push( { "name": "sid", "value": UserId } );
            },
            "bProcessing": true,
            "aoColumns": [
                            { "sName": "Type" },
                            { "sName": "Email Address" },
                            { "sName": "Queued (UTC)" },
                            { "sName": "Sent (UTC)" },
                            { "sName": "Received (UTC)" },
                            { "sName": "State" },
                            {
                                "sName": "Delete",
                                "bSearchable": false,
                                "bSortable": false,
                                "mRender": function (value) {
                                    if (value == "")
                                        return ""
                                    else
                                        return DeleteLink.replace("-999", value);
                                }
                            }
            ]
        });
    });
</script>
}
