<h2>Contact Us.</h2>
<h3>SkankyDog Software.</h3>

<p>
SkankyDog Software are a one-man, Melbourne-local company, with 20+ years in the IT industry. We are not out
to change the world - we do that in our day job - but we are very passionate about software development and
applications and find nothing more rewarding than solving business problems with simple, elegant and maintainable
software.
</p>

<p>
Please contact us if you are interested in a custom solution to your business problem.
</p>

<address>
    Melbourne, Australia<br />
    <abbr title="Phone">P:</abbr>+61 4 901 6491
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:jsdanckert@iinet.net.au">support@skankydog.com</a><br />
    <strong>Development & Sales:</strong> <a href="mailto:jsdanckert@iinet.net.au">development&sales@skankydog.com</a>
</address>
