@{
    ViewBag.Title = "Fido Home";
}

<div class="jumbotron">
    <h1>SkankyDog Fido</h1>
    <p class="lead">This is the home page for the SkankyDog Fido application - work-in-progress.</p>
    <p><a href="http://www.skankydog.com" class="btn btn-primary btn-lg">In the meantime: www.skankydog.com &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Heading</h2>
        <p>
            This is a nice little description about the application and what it gives
            you. Not sure if I will keep this page as-is in the long run, but just
            putting some text here for now to pad it out - will decide later on the
            layout.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Another Heading</h2>
        <p>Something else.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Another Heading</h2>
        <p>Something else.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
