@model Fido.Action.Models.Administration.Home
@{
    ViewBag.Title = "Fido Administration Home";
}

<div class="jumbotron">
    <h1>Fido</h1>
    <p class="lead">This is the admin...</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Heading</h2>
        <p>
            Some sort of description.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Another Heading</h2>
        <p>Something else.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Another Heading</h2>
        <p>Something else.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
