@using Fido.WebUI.Flash.Messages
@using Fido.WebUI.Extensions
@model FlashMessage

<div class="alert alert-@Model.Severity">
    <button type="button" class="close" data-dismiss="alert">×</button>
    @*<strong>@Model.Title!</strong>*@
    <p>@Model.Description</p>

    @if (Model.Data != null)
    {
        <ul>
            @foreach(var link in Model.Data.Cast<FlashLinks>().Links)
            {
                <li><a href="@link">@link</a></li>
            }
        </ul>
    }
</div>
