@using Fido.WebUI.Flash.Messages
@model FlashMessage

<div class="alert alert-@Model.Severity">
  <button type="button" class="close" data-dismiss="alert">×</button>
  @*<strong>@Model.Title!</strong>*@
    @Model.Description
</div>
